/* Block Grid */
.grid {
    width: 560px;
    height: 300px;
    border: solid #002A70 3px;
}

/* Block CSS */
.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #00C4BC;
}

/* Player Paddle */
.paddle {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #00C4BC;
}