/* Block Grid */
.grid {
    position: absolute;
    width: 560px;
    height: 800px;
    border: solid #8B80F9 3px;
    background-color: #1E1E24;
    margin-top: 100px;
    display: grid; 
    grid-template-columns: auto;
    grid-gap: 10px;
}
/* Block CSS */
.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #00C4BC;
}

/* Player Paddle */
.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #F8C0C8;
}

/* Ball */
.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10 px;
    background-color: #FFB800;

}